// Named Colours
$color--white:         #ffffff;
$color--black:         #444444;
$color--grey:          #7a7a7a;

$color--text:         $color--black;

$color--primary:      #40c4aa;
$color--wdd:          #cd161a;
$color--rc:           #6ad2e7;
$color--webhaus:      #25a25d;
$color--code7:        #292929;
