// Named Colours
$color--white:         #ffffff;
$color--black:         #1a1a1a;
$color--grey:          #7a7a7a;
$color--sub:           #5a5a5a;

$color--text:         $color--black;

$color--primary:      #0f60d8;
$color--secondary:    #f9ca24;
$color--wdd:          #cd161a;
$color--rc:           #6ad2e7;
$color--webhaus:      #25a25d;
$color--code7:        #292929;
