ul li{
	margin-top: spacer(1);
	width: 48%;
	display: inline-block;
	margin-right: -0.25em;
	vertical-align: top;
	font-size: 1.125em;

	&:nth-child(even){
		margin-left: 4%;
	}

	&:before{
		content: "\2022";
		margin-right: 0.5em;
	}

	@include mq(sm){
		width: 33%;
		
		&:nth-child(even){
			margin-left: 0;
		}
	}
}

.software{
	@include border-bottom;
}