
/* ==========================================================================
    CONTENT WRAPPER
   ========================================================================== */

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    max-width: $wrapper-width-narrow;
}
