* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  min-width: rem(320px);
  margin: 0;
  color: $color--text;
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  line-height: 1.4;
  font-display: auto;
}

::selection {
  background-color: $color--primary;
  color: $color--white;
}
