* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  min-width: rem(320px);
  margin: 0;
  font-display: auto;
  font-family: Helvetica, sans-serif;
}
