<head>
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ page.meta }}">

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="MobileOptimized" content="320"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>

  {% include favicon.html %}

  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
  <link href="../css/style.css" type="text/css" rel="stylesheet"/>

  <!--[if lt IE 9]>
    <script src="/js/build/respond.min.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
