:root {
	--font-body-scale: 1;
	--font-title: Roboto, sans-serif;
	--font-main: Quattrocento, serif;

	--color-brand: #0f60d8;
	--color-subtle: #a0a4aa;

  --step--2: clamp(0.6944rem, 0.6859rem + 0.0426vi, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8111rem + 0.1111vi, 0.9rem);
  --step-0: clamp(1rem, 0.9583rem + 0.2083vi, 1.125rem);
  --step-1: clamp(1.2rem, 1.1313rem + 0.3438vi, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3341rem + 0.5297vi, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5716rem + 0.7821vi, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.8493rem + 1.1216vi, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.1734rem + 1.5748vi, 3.4332rem);

	--space-3xs: clamp(0.25rem, 0.2292rem + 0.1042vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4792rem + 0.1042vi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7083rem + 0.2083vi, 0.875rem);
  --space-s: clamp(1rem, 0.9583rem + 0.2083vi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4375rem + 0.3125vi, 1.6875rem);
  --space-l: clamp(2rem, 1.9167rem + 0.4167vi, 2.25rem);
  --space-xl: clamp(3rem, 2.875rem + 0.625vi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8333rem + 0.8333vi, 4.5rem);
  --space-3xl: clamp(6rem, 5.75rem + 1.25vi, 6.75rem);

	--grid-max-width: 69.75rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4975rem + 2.5126vw, 2.25rem));
  --grid-columns: 12;
}

html {}

body {
	color: #111;
	font-weight: 400;
	font-size: 1rem;
	font-family: var(--font-main);
	font-optical-sizing: auto;
}

::selection {
	background: var(--color-brand);
	color: white;
	text-shadow: none;
}

.u-container {
  max-width: var(--grid-max-width);
  margin-inline: auto;
  padding-inline: var(--grid-gutter);
}

.u-push {
	margin-block-start: var(--space-l);
}

.u-push--big {
	margin-block-start: var(--space-2xl);
}

.u-section-title {
	position: relative;
	margin-block-end: var(--space-l);
	color: var(--color-brand);
	font-weight: 900;
	font-size: var(--step-3);
	font-family: var(--font-title);
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0.1);
	text-decoration-thickness: 1px;
	text-underline-offset: var(--space-2xs);

	&::before {
    z-index: -1;
    position: absolute;
		inset-block-end: -0.05em;
    inset-inline-start: -.125rem;
    content: attr(data-before);
    color: var(--color-subtle);
    font-size: var(--step-5);
    opacity: .1;
	}
}

.u-copy {
	max-width: 80ch;

	p {
		margin-block-end: 1em;
	}
}

.header {
	padding-block: var(--space-xl);

	.u-container {
		display: flex;
		flex-direction: column;
		gap: var(--space-m);

		@media (width >= 35em) {
			flex-direction: row;
			align-items: center;
		}
	}
}

.header__image {
	width: 100%;
	max-width: 18.75rem;
	border-radius: var(--space-m);

	@media (width < 35em) {
		margin-inline: auto;
	}

	@media (width >= 35em) {
		max-width: 12rem;
	}
}

.header__title {
	color: var(--color-brand);
	font-weight: 900;
	font-size: var(--step-5);
	line-height: 1.1;
	font-family: var(--font-title);
	text-align: center;
	text-wrap: balance;

	@media (width >= 35em) {
		font-size: var(--step-4);
		text-align: start;
	}

	@media (width >= 48em) {
		font-size: var(--step-5);
	}
}

.header__job {
	display: block;
	color: var(--color-subtle);
	font-weight: 400;
	font-size: var(--step-2);

	@media (width >= 35em) {
		padding-inline-start: var(--space-3xs);
	}

	@media (width >= 48em) {
		padding-inline-start: var(--space-2xs);
	}
}

.profile {}

.profile__title {}

.profile__text {
	font-size: var(--step-0);
}

.profile__text--lede {
	font-size: var(--step-1);
}

.skills {}

.skills__title {}

.skills__subtitle {
	margin-block-end: var(--space-m);
	font-weight: 900;
	font-size: var(--step-1);
	font-family: var(--font-title);
}

.skills__list {
	column-gap: var(--space-l);
	margin-block-end: var(--space-m);
	padding: 0;
	list-style-type: none;

	@media (width >= 35em) {
		columns: 2;
	}

	@media (width >= 48em) {
		columns: 3;
	}
}

.skills__skill {
	margin-block-end: var(--space-2xs);
	font-size: var(--step-0);
}
