.c-skills {}

  .c-skills__title {}

  .c-skills__subtitle {
    margin-top: 1.25em;
    font-size: rem(20px);

    @include mq($from: tablet) {
      font-size: rem(24px);
    }
  }

  .c-skills__list {
    margin: 0;
    padding: 0;
    columns: 2;
    column-gap: rem(10px);
    list-style-type: none;

    @include mq($from: tablet) {
      columns: 3;
    }
  }

    .c-skills__skill {
      width: 90%;
      margin-bottom: .5em;
      font-size: rem(16px);

      @include mq($from: tablet) {
        font-size: rem(18px);
      }
    }
