.c-contact {
  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

  .c-contact__title {
    width: 100%;
  }

  .c-contact__half {
    margin-top: rem(20px);

    @include mq($from: tablet) {
      width: 48%;
    }
  }

    .c-contact__address,
    .c-contact__tel,
    .c-contact__website,
    .c-contact__linkedin {
      font-size: rem(16px);
      margin: rem(10px) 0 0;

      @include mq($from: tablet) {
        font-size: rem(18px);
      }
    }

      .c-contact__strong {
        display: block;
      }

      .c-contact__link {
        display: block;
        color: $color--primary;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:visited {
          color: $color--grey;
        }
      }
