.c-experience {}

  .c-experience__title {}

  .c-experience__job {
    + .c-experience__job {
      margin-top: rem(32px);
    }
  }

    .c-experience__job__title {
      color: $color--text;
      margin-bottom: rem(6px);

      @include mq($from: tablet) {
        font-size: rem(22px);
      }
    }

    .c-experience__job__company {
      font-size: .75em;

      @include mq($until: desktop) {
        display: block;
        font-size: .875em;
      }
    }

    .c-experience__job__timescale {
      color: $color--grey;
      margin: 0;
      font-size: rem(14px);

      @include mq($from: tablet) {
        font-size: rem(16px);
      }
    }

    .c-experience__job__description {
      font-size: rem(16px);

      @include mq($from: tablet) {
        font-size: rem(18px);
      }
    }
