.c-profile {}

  .c-profile__title {}

  .c-profile__text {
    max-width: rem(600px);
    font-size: rem(16px);
    hyphens: manual;

    @include mq($from: tablet) {
      font-size: rem(18px);
    }

    &--lede {
      color: $color--sub;
      font-size: rem(20px);

      @include mq($from: tablet) {
        font-size: rem(24px);
      }
    }
  }
