
/* ==========================================================================
   Site logo
   ========================================================================== */

.logo-block {
    display: inline-block;

    @include mq(md) {
        vertical-align: middle;
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
}
