
/* ==========================================================================
   Site logo
   ========================================================================== */

.logo {
    display: block;
    color: $brand-color;
    text-transform: uppercase;
    line-height: 1;
    transition: font-size .3s ease-in-out;

    @include mq(sm){
        font-size: 3em;
    }
}
