.o-section-title {
  margin: 0;
  position: relative;

  &::before {
    transform-origin: 0 50%;
    content: attr(data-before);
    position: absolute;
    left: rem(-2px);
    font-weight: 700;
    z-index: -1;
    font-size: 2em;
    bottom: rem(3px);
    opacity: .1;
  }

  &::after {
    content: '';
    margin-top: .35em;
    height: 1px;
    background-color: $color--primary;
    display: block;
  }
}
