.o-section-title {
  position: relative;
  margin: 0;

  &::before {
    content: attr(data-before);
    position: absolute;
    z-index: -1;
    bottom: rem(3px);
    left: rem(-2px);
    transform-origin: 0 50%;
    color: $color--secondary;
    font-size: 2em;
    font-weight: 700;
    filter: saturate(.4) brightness(1.2);
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    margin-top: .35em;
    background-color: $color--primary;
  }
}
