<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="header-row">
        <div class="wrapper">
            <div class="content">
                <div class="logo-block">
                    <h1 class="logo">Tristan Brookes</h1>
                    <p class="job-title">Web designer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-row">
        <div class="wrapper">
            <main class="content" role="main">
                <article>
                    {{ content }}
                </article>
            </main>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
